{#
/**
 * @file
 * Default theme implementation to list receipt types available for creating an
 * receipt.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_commerce_receipt_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
    <dl class="receipt-type-list">
        {% for type in types %}
            <dt>{{ type.add_link }}</dt>
            <dd>{{ type.description }}</dd>
        {% endfor %}
    </dl>
{% else %}
    <p>
        {% set create_receipt_type = path('entity.commerce_receipt_type.add_form') %}
        {% trans %}
        You have not created any receipt types yet. Go to the <a href="{{ create_receipt_type }}">receipt type creation page</a> to add a new receipt type.
        {% endtrans %}
    </p>
{% endif %}
